<div class="row">
    <div id="ulCategories" class="col-sm-3 col-md-2 sidebar">
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Categories</h1>

        <div id="search" class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>№</th>
                    <th>id</th>
                    <th>name</th>
                <tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in categories" ui-sref="edit category({id: item._id})">
                    <td>{{$index}}</td>
                    <td>{{item._id}}</td>
                    <td>{{item.name}}</td>
                </tr>
                <tbody>
            </table>

        </div>
        <a ui-sref="add category" class="btn btn-primary"> Add New </a>
    </div>
</div>

