<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Edit product with id {{productId}}</h1>
    <button ng-click="loadProduct(model.productId)">Загрузить</button>

    <div class="form-group">
        <label for="selectCategory" class="control-label">Category</label>
        <select id="selectCategory"></select>
    </div>

    <div class="form-group">
        <label for="title" class="control-label">title</label>
        <input ng-model="product.title" id="title" class=" form-control" name="title" value={{product.title}}
               autocomplete="off"/>
    </div>

    <div class="form-group">
        <label for="price" class="control-label">price</label>
        <input ng-model="product.price" type="number" id="price" class="form-control" value={{product.price}}
               name="price" autocomplete="off"/>
    </div>

    <div class="form-group">
        <label for="count" class="control-label">count</label>
        <input ng-model="product.count" type="number" id="count" class="form-control" name="count"
               value={{product.count}} autocomplete="off"/>
    </div>

    <button type="button" class="btn btn-primary">Exit</button>
    <button type="button" class="btn btn-primary" ng-click="saveProduct(model.productId)">OK</button>
</div>